[2015-05-06 10:03] wayneashleyberry opened #2 "Create tasks from stdin"

[2015-05-06 10:03] wayneashleyberry opened #3 "Show lists and tasks"

[2015-05-06 11:24] #2 closed, assigned to wayneashleyberry

[2015-05-06 13:03] #3 closed, assigned to wayneashleyberry

[2015-05-10 20:47] wayneashleyberry opened #9 "ls improvements"
- [ ] print inbox as soon as it's received from the api, then wait for all lists to sort and print them.
- [ ] add filters for due dates, maybe `--today` and `--week`
- [ ] display due dates as "Today" and "Tomorrow" when they are indeed that.

[2015-05-10 20:49] wayneashleyberry opened #10 "export command"
Add an export command which writes all lists, tasks, sub-tasks and notes to stdout. Optional formatting could be nice, json, markdown etc.

[2015-05-10 20:50] wayneashleyberry opened #11 "add changelog command"
just for funsies :)

[2015-05-11 08:19] wayneashleyberry opened #12 "Check this out"
Could maybe take some inspiration from this alfred workflow?

https://github.com/idpaterson/alfred-wunderlist-workflow

[2015-05-11 11:59] #9 closed, assigned to wayneashleyberry

[2015-05-11 11:59] #10 closed, assigned to wayneashleyberry

[2015-05-11 11:59] #11 closed, assigned to wayneashleyberry

[2015-05-11 11:59] #12 closed, assigned to wayneashleyberry

[2015-05-11 12:55] wayneashleyberry opened #14 "export improvements"
- [x] subtasks
- [x] notes
- [x] files
- [x] user

[2015-05-11 14:16] wayneashleyberry opened #16 "list & task positions"
https://developer.wunderlist.com/documentation/endpoints/positions

[2015-05-11 14:21] wayneashleyberry opened #17 "add task to list"
[code]

[2015-05-11 14:39] #17 closed, assigned to wayneashleyberry

[2015-05-11 14:45] wayneashleyberry commented on #16
not worth the performance hit

[2015-05-11 14:45] #16 closed, assigned to wayneashleyberry

[2015-05-13 11:28] wayneashleyberry opened #20 "truncate task titles"
[code]

[code]

[2015-05-13 11:35] #20 closed, assigned to wayneashleyberry

[2015-05-13 13:06] #14 closed, assigned to wayneashleyberry

[2015-05-21 12:00] brachetti opened #25 "Display sub-tasks"
Given a task has sub-tasks, I want to see them as a list below the main task

[2015-05-24 11:05] wayneashleyberry opened #26 "Got"
https://github.com/sindresorhus/got

[2015-05-24 11:05] wayneashleyberry opened #27 "Rename to Wunderline"

[2015-05-25 07:54] #27 closed, assigned to wayneashleyberry

[2015-05-25 08:18] wayneashleyberry commented on #26
Extracting Wunderlist specifics into a separate library would be grand, see: https://github.com/sindresorhus/gh-got

[2015-05-25 14:33] wayneashleyberry opened #28 "Minimist / Yargs"
Commander's alias's don't work with git style sub-commands, might be worth looking at an alternative?

https://github.com/substack/minimist
https://github.com/bcoe/yargs

[2015-05-26 08:16] wayneashleyberry commented on #26
Mission :/

[2015-05-26 08:16] #26 closed, assigned to wayneashleyberry

[2015-05-26 08:16] #28 closed, assigned to wayneashleyberry

[2015-05-27 23:17] dhaffner opened #29 "Display a given list"
Similar to `wunderline search [query]`, a command to show tasks from a given list. Not sure about the command name. Some ideas:

These would find and display tasks from a list whose name is "My Private Tasks"
- `wunderline view private`
- `wunderline list private`
- `wunderline search --list private`

I'd be more than happy to implement this, just curious on your thoughts. Cheers for the nice CLI!

[2015-06-18 08:19] wayneashleyberry opened #30 "Website"
GitHub pages will be perfect for our needs :)

[2015-06-22 10:09] michaelthorne commented on #30
https://wearenext.slack.com/files/shaun/F056405DL/wunderlist_psd.zip

[2015-06-22 10:19] wayneashleyberry opened #31 "Transfer ownership"
Wunderline is getting a new home!

Worry not, this will not effect anything - other than getting more maintainers and publicity :)

[2015-06-22 10:24] wayneashleyberry commented on #31
Hello, [Next](https://github.com/we-are-next)!

[2015-06-22 10:24] #31 closed, assigned to wayneashleyberry

[2015-06-24 05:58] michaelthorne opened #32 "Favicon"

[2015-06-24 05:58] michaelthorne opened #33 "Apple Touch Icon"

[2015-06-24 05:59] michaelthorne opened #34 "Create sprite for content (image) icons"

[2015-06-24 05:59] michaelthorne opened #35 "Icomoon for FontAwesome icons"

[2015-06-24 08:27] #30 closed, assigned to nobody

[2015-06-24 08:41] michaelthorne commented on #35
https://github.com/we-are-next/wunderline/commit/3b60facb4580b2c624bd4dd70ea124f0a3c8156e

[2015-06-24 08:41] #35 closed, assigned to nobody

[2015-06-24 16:26] michaelthorne commented on #34
Not required for now.

[2015-06-24 16:26] #34 closed, assigned to nobody

[2015-06-24 16:27] michaelthorne opened #36 "@2x icons and logos"
- [x] http://www.wunderline.rocks/assets/images/icon-sync-37x27.png
- [x] http://www.wunderline.rocks/assets/images/icon-add-29x29.png
- [x] http://www.wunderline.rocks/assets/images/icon-search-42x41.png
- [x] http://www.wunderline.rocks/assets/images/icon-export-31x29.png
- [x] http://www.wunderline.rocks/assets/images/logo-wunderline-91x67.png
- [x] http://www.wunderline.rocks/assets/images/log

[2015-06-24 16:29] #33 closed, assigned to nobody

[2015-06-24 17:00] #32 closed, assigned to nobody

[2015-06-24 18:47] michaelthorne opened #37 "Grunt"
- [x] `grunt-contrib-csslint`
- [x] `grunt-eslint`
- [x] `grunt-html`

[2015-06-25 07:42] #36 closed, assigned to nobody

[2015-07-01 09:23] #25 closed, assigned to wayneashleyberry

[2015-07-01 09:25] wayneashleyberry commented on #25
Done :)

`npm i -g wunderline@latest`

[2015-07-02 12:37] michaelthorne opened #39 "Cropping/wrapping bug with Typed.js"
http://bradfrost.com/demo/ish/?url=http%3A%2F%2Fwww.wunderline.rocks%2F#936

[2015-07-02 18:42] #39 closed, assigned to nobody

[2015-07-03 08:29] hanshasselberg opened #40 "'TypeError: undefined is not a function' when trying to look at the inbox"
Hi,

this looks like a great project. I installed it, but there seems to be something wrong.

[code]

Thanks,
Hans

[2015-07-03 08:29] #37 closed, assigned to nobody

[2015-07-03 08:32] wayneashleyberry commented on #40
Hi @i0rek, it looks like an authentication error, have you set up your `.wunderlinerc` file?

[2015-07-03 08:33] hanshasselberg commented on #40
@wayneashleyberry yes.

[code]

[2015-07-03 08:39] wayneashleyberry commented on #40
Just pushed a potential fix, would you mind installing `3.2.2`?

[2015-07-03 08:46] hanshasselberg commented on #40
Thank you for the fast help! That doesn't fix my issue though:

[code]

[2015-07-03 08:53] wayneashleyberry commented on #40
Strange... okay, i've added some extra debugging in `3.2.3`

If you could run `NODE_DEBUG=request wunderline inbox` and add the debugging output here that would really help :)

Looks like, for some reason, the API call to `/lists` is returning an empty body...

[2015-07-03 09:07] hanshasselberg commented on #40
With debugging enabled I saw that I was unauthorised. I used the `client_secret` as `access_token`. Generating an access token fixed it.
Thanks!

[2015-07-03 09:07] #40 closed, assigned to wayneashleyberry

[2015-07-03 09:08] wayneashleyberry commented on #40
Oh cool - yeah, I need to add better error messages for that, will add it to my todo list :p

[2015-07-03 10:06] wayneashleyberry opened #41 "Auth errors"
Displaying authentication errors would be super useful and prevent issues like https://github.com/we-are-next/wunderline/issues/40

[2015-07-03 11:37] sq3 opened #42 "TypeError: Cannot read property 'filter' of undefined"
After installing the tool via npm, I've got the following problem. It comes every time I use wunderline with any option for example "inbox"

[code]

[2015-07-03 11:52] wayneashleyberry commented on #42
Duplicate of https://github.com/we-are-next/wunderline/issues/40

I'm going to be adding proper authentication errors soon (see https://github.com/we-are-next/wunderline/issues/41)

[2015-07-03 11:52] #42 closed, assigned to nobody

[2015-07-05 17:32] juanpabloaj opened #44 "wunderline all: Cannot call method 'toUpperCase' of undefined"
If I try to use without make the configuration, I get this error

[code]

[2015-07-06 12:03] #41 closed, assigned to wayneashleyberry

[2015-07-06 12:07] wayneashleyberry commented on #44
Hey @juanpabloaj, thanks for catching this bug. It should be fixed in [v3.3.0](https://github.com/we-are-next/wunderline/releases/tag/v3.3.0)

You can run the following command to update wunderline:

[code]

Please let me know if that helps :)

[2015-07-06 12:13] #44 closed, assigned to wayneashleyberry

[2015-07-06 12:19] wayneashleyberry commented on #29
Hey @dhaffner - I might have time to get to this this week, but if you'd like to send a pull request that would be great!

Cheers

[2015-07-08 09:42] wayneashleyberry opened #49 "Folders"
Looks like folders have been added to the API, yay :)

https://developer.wunderlist.com/documentation/endpoints/folder

[2015-07-08 15:45] ketanmujumdar opened #50 "Unable to add task, getting an exception"
Hello,

I am getting the following exception while executing following command

`wunderline add Hello, World!`

Exception:

[code]

[2015-07-09 01:58] ketanmujumdar commented on #50
Seems it was my issue, closing the ticket

[2015-07-09 01:58] #50 closed, assigned to nobody

[2015-07-13 17:41] shawnroos commented on #49
Good thing! [There's demand](http://www.producthunt.com/tech/wunderline#comment-115594)

[2015-07-14 11:29] wayneashleyberry opened #51 "Easier configuration"
Adding https://github.com/SBoudrias/Inquirer.js for interactive prompts with https://github.com/yeoman/configstore for getting and storing auth creds would be amaze! :sparkles:

[2015-07-16 13:13] shawnroos opened #52 "Getting a 404"

[2015-07-16 14:06] wayneashleyberry commented on #52
Damn you @shawnroos. :kiss:

[2015-07-16 14:06] #52 closed, assigned to wayneashleyberry

[2015-07-21 11:58] mruessler opened #53 "Wunderline cannot push or see items from the website"
I am using Wunderline on a linux system. `wunderline whoami` does work and shows my account information. But tasks that are created are not pushed to the website. I also cannot see website tasks on the commandline. I am using version 3.3.2

[2015-07-21 17:35] krewmarco opened #55 "Object #<Object> has no method 'filter'"
TypeError: Object #<Object> has no method 'filter'
    at Request._callback (/usr/lib/node_modules/wunderline/util/get-inbox.js:29:22)
    at Request.self.callback (/usr/lib/node_modules/wunderline/node_modules/request/request.js:198:22)
    at Request.emit (events.js:98:17)
    at Request.<anonymous> (/usr/lib/node_modules/wunderline/node_modules/request/request.js:1057:14)
    at Request.emit (e

[2015-07-27 09:47] rnc opened #56 "Add support for notes"
It looks like the endpoint exists

https://developer.wunderlist.com/documentation/endpoints/note

[2015-07-28 07:06] mruessler commented on #53
So, how can I get debug information or a log file to see what Wunderline is doing?

[2015-07-28 07:18] wayneashleyberry commented on #53
[code]

[2015-07-29 08:13] mruessler commented on #53
This gives me the following output:

[code]

…followed by my tasks. Again, these are only the two tasks from wunderline. My account tasks do not appear.

[2015-08-03 12:12] wayneashleyberry commented on #29
Thanks for the PR @dhaffner, I've merged, made a few changes and published :)

[2015-08-03 12:12] #29 closed, assigned to nobody

[2015-08-03 12:13] wayneashleyberry commented on #56
Will have a look into this @rnc, I don't think it should be on by default, maybe there should be a `--notes` flag or something? How do you see this working?

[2015-08-03 12:40] rnc commented on #56
Hi! Yes a `--notes` would work quite well for small sections of text. Perhaps a `--notesfile` to accept input from text file?

[2015-08-03 13:21] wayneashleyberry commented on #56
I was thinking about displaying notes, wasn't even considering creating tasks with notes haha

[2015-08-04 11:53] #51 closed, assigned to wayneashleyberry

[2015-08-04 12:08] wayneashleyberry commented on #55
hey @krewmarco, would you mind installing `4.0.1` and trying again?

[2015-08-04 12:08] wayneashleyberry commented on #53
hey @mruessler, would you mind installing `4.0.1` and trying again?

[2015-08-04 12:59] mruessler commented on #53
@wayneashleyberry sure, I have attached a new try. Unfortunately, it still does not work. I tried the new commands, added a new item to a list, and also created a new list. Still, the terminal does not understand the server–no information from my account comes in or can be seen in the web version.

[code]

[2015-08-04 13:42] wayneashleyberry commented on #53
The inbox is actually being returned at the end there though...

[code]

[2015-08-04 13:46] mruessler commented on #53
True, but the two items have been created via wunderline, and never appeared on the website. Furthermore, the current items from my inbox (added via website) do not appear in the inbox as shown by wunderline.

[2015-08-04 17:45] wayneashleyberry commented on #53
If you run `wunderline whoami` do you get the same email address and email address that you're logging into the website with?

[2015-08-04 20:36] krewmarco commented on #55
I just installed 4.0.2 and it's working great.  Thanks!

Marco

On 08/04/2015 05:08 AM, Wayne Ashley Berry wrote:

[2015-08-05 06:47] mruessler commented on #53
Yes, I get the correct account information. After installing 4.0.1 I entered my client id and access token again and checked whether it worked. In principle wunderline is able to read from the account…

[2015-08-05 09:08] wayneashleyberry commented on #55
Awesome :) :balloon:

[2015-08-05 09:08] #55 closed, assigned to wayneashleyberry

[2015-08-19 14:11] wayneashleyberry commented on #56
Closed in https://github.com/we-are-next/wunderline/pull/58

[2015-08-19 14:11] #56 closed, assigned to wayneashleyberry

[2015-08-29 07:16] tolleiv opened #59 "Due date listings don't respect the year"
Hi,
I'm using Wunderlist to keep track of todos which are recurring on a yearly or bi-yearly basis. So I've a lot of dates in the far future.
Unfortunately "wunderline list" doesn't show the year of the due date - that's more a minor problem but still not too nice. The second problem is that the "wunderline week" command also lists all todos which are due in 1 year.
Would be great if you could hav

[2015-08-30 11:55] wayneashleyberry commented on #59
Closed in https://github.com/we-are-next/wunderline/pull/60

[2015-08-30 11:55] #59 closed, assigned to nobody

[2015-09-16 20:43] ebertland opened #61 "add --stdin has no effect"
I just installed wunderline, and I have been experimenting with all the functions. wunderline add --stdin does not work as advertised. Here is a sample session:

[code]

I am running on Ubuntu Linux with a fresh install of nodejs.

[2015-09-17 06:21] wkoszek opened #62 "auth doesn't work"
Auth doesn't work for me:

[code]

The `CLIENT ID` and `ACCESS TOKEN` are repasted from the website.

Then for login:

[code]

[2015-09-24 06:14] Thor77 commented on #62
I get the same errors but i don't think the access-token is the problem.
It seems like these functions were removed/renamed from NodeJS.

[2015-10-18 13:47] #61 closed, assigned to nobody

[2015-10-20 15:54] CrowderSoup opened #64 "Any command that pulls back data fails, including Auth"
I'm having an issue on multiple machines (Windows 10, Ubuntu 15.04). When I run `wunderline auth` and enter my apps credentials I get the following (on Windows 10, but I get the same on Ubuntu):

[code]

It seems like it authenticates successfully though. Then when I run `wunderline inbox` I get:

[code]

If I can get some spare time I'll attempt to fork and fix, but in the meantime I wanted to su

[2015-10-24 14:58] richipargo commented on #62
Same issue +1

[2015-10-24 19:57] Thor77 commented on #62
This issue is definitely not a problem with wunderline (except maybe proper error handling), it's a problem with your access token. After you click "CREATE ACCESS TOKEN" there will fade in a bar with this text: "Your access token for Wunderline Access is: [...] ", thats the token, you have to enter, not the client secret or whatever

[2015-11-25 07:43] wkoszek commented on #62
@Thor77 I don't understand what you're saying. Let me explain once again:
1. I go to https://developer.wunderlist.com/apps
2. Create new app. Call it "cli". I put http://www.koszek.com as my URLs.
3. Double click Client ID string, CMD+A to select all, CMD+C to copy.
4.  In Terminal enter `wunderline auth`
5. I get:

[code]

I paste the CLIENT ID string.
1. Go back to the browser
2. Double-click, C

[2015-11-25 07:46] wkoszek commented on #62
@Thor77  Ah, ok. I just clicked "CREATE ACCESS TOKEN" and it worked.

It's super confusing.

[2015-12-01 21:31] AndreasOck opened #65 "wunderline add crashes"
Hello,
I'm working with wunderline. It works fine. Except the "add" command crashes with the following error statement. I tried also on a raspberry pi. With the same error.
## Output in Windows 7:

C:\Users\aj>wunderline add Hello
C:\Users\aj\AppData\Roaming\npm\node_modules\wunderline\wunderline-add.js:146
        stdin().then(data => {
                          ^^
SyntaxError: Unexpected token =

[2015-12-02 06:40] wayneashleyberry commented on #65
Which version of node are you running?

[2015-12-02 07:59] AndreasOck commented on #65
Thank you, that's the solution. I update node to v5.1.0 and everything is ok!

[2015-12-02 07:59] #65 closed, assigned to nobody

[2015-12-02 12:04] wayneashleyberry commented on #65
You're welcome :)

[2015-12-08 07:39] geripgeri commented on #62
I had the same problem.
@wkoszek the CREATE ACCESS TOKEN" button solved the problem for me too! Thanks :thumbsup:

[2015-12-21 12:44] purinda opened #68 "Fixed column width truncating title"
First, I am thanking you for spending time to build this brilliant CLI for the wunderlist! very useful.

I started using wunderline today and found that task title gets truncated when you have tasks title running for more than 60 characters, since most of my tasks are running past this limit, I couldn't pretty much list my daily TODO tasks effectively.

An example:
#### Current implementation

![6

[2016-01-06 17:07] #64 closed, assigned to nobody

[2016-01-06 17:07] CrowderSoup commented on #64
Just tested again, issue seems to be resolved.

[2016-01-08 15:42] naps62 opened #69 "Force ES6 support"
I tried to install this under node 0.10.40, which was the version I had installed at the time. Since that version doesn't support ES6 syntax, which apparently is used here, I got this error:

[code]

I believe this can be fixed by adding an `engine` section to `package.json`?

[2016-01-12 19:40] juliankay commented on #69
Hey @naps62 did you get this working? I have the same issue

[2016-01-12 19:46] naps62 commented on #69
@juliankay I got it working by installing node v4 (I'm using nvm so it's just a matter of running `nvm install 4.2.4`)

But right now I have to manually switch to this version when I want to use wunderline, since I need 0.12 to be the default version most of the time

[2016-01-12 20:02] juliankay commented on #69
thanks @naps62 that worked a treat! :+1:

[2016-01-13 10:33] wayneashleyberry commented on #69
Thanks @naps62, updated the `package.json` in https://github.com/we-are-next/wunderline/commit/7c68c14bf1c94c293305251685bdb9337e315c76.

[2016-01-13 10:33] #69 closed, assigned to nobody

[2016-01-13 10:44] purinda commented on #68
@wayneashleyberry Thanks for merging the PR.

[2016-01-13 10:46] wayneashleyberry commented on #68
My pleasure, thanks for the code @purinda, I added a little space just to make sure the other columns all fit :)

[2016-01-13 10:46] #68 closed, assigned to nobody

[2016-01-13 10:46] wayneashleyberry commented on #53
Hi @mruessler, are you still having issues?

[2016-01-13 10:47] #62 closed, assigned to nobody

[2016-01-22 08:31] mruessler commented on #53
Hi @wayneashleyberry, sorry for not getting back earlier.
I just updated to 4.1.6 and tried the new version. At first, the issue seemed to persist. Then, I could see a new task which I created in the browser in wunderline.
I also used `flush` to renew my authentication. But now I experience a different issue:

[code]

This message is thrown at me after entering the access token. When I use `wunder

[2016-01-26 00:29] kavyasukumar opened #70 "Add is broken"
Fix for #61 seems to have broken add feature- both individual task as well as piped from stdin
### Direct add

[code]
### Piped stdin

[code]

[2016-01-26 00:35] kavyasukumar commented on #70
Sorry. This is duplicate of already addressed #65

[2016-01-26 00:35] #70 closed, assigned to nobody

[2016-02-07 22:41] adius opened #71 "List your lists"
It would be great if I could list all my lists.

Something like

[code]

Any thoughts on this?

[2016-02-08 08:22] wayneashleyberry commented on #71
Good idea @adius!

[2016-02-18 02:43] JayBrown opened #72 "Question: possible to set "Remind me" date?"
Love wunderline, just love it. Thank you very much. Is there by any chance a way to set a "Remind me" date? It doesn't seem to be documented. (Or is it impossible?)

[2016-02-18 10:04] wayneashleyberry commented on #72
Hi @JayBrown :)

Firstly, thanks! I'm so glad you're enjoying Wunderline!

It is possible to create tasks with due dates, if that's what you're referring to?

[code]

[code]

[2016-02-18 11:35] JayBrown commented on #72
Thank you for the quick reply. I'm afraid I mean something different… see the screenshot here: http://i.imgur.com/qH0HlNZ.png

You can set the due date, which wunderline manages fine (today, tomorrow and in date format), and right below that you can also set the "Remind me" date (format: date & time), which is what I mean. So a wunderline CLI command in this respect would maybe look like:

`wunder

[2016-02-18 12:26] wayneashleyberry commented on #72
Ah okay, I see what you mean. I'll have a look into it, should be pretty simple :)

I doubt I'll add subtasks and comments, just because I think a command-line wouldn't be a great interface for doing that :)

[2016-02-18 12:33] JayBrown commented on #72
Oh, that's great. I forgot to add that you can also set the time for the reminder, not only the date, so the syntax could be something like
`--remind 2016-02-19-17-30-15`
for date 19th of February 2016, time 17:30:15 (5:30 PM and 15 seconds).

[2016-02-20 21:55] tomrule007 opened #73 "Multilined note"
is it possible to add a multilined note?

$ wunderline add "Lines" --note "Line 1\nLine 2\nLine 3"

I've tried \n but didnt have any luck and I was wondering if there is a different command I should try.

Thanks

[2016-03-17 08:26] mruessler commented on #53
Small update: I updated to version 4.1.7 and now have a slightly different error.

[code]

[2016-03-31 14:56] Thor77 commented on #53
That's not related to this issue, but to #62

[2016-03-31 18:24] Thor77 commented on #72
The API doesn't implement that feature yet [_ref_](https://developer.wunderlist.com/documentation/endpoints/task)

[2016-03-31 18:29] #53 closed, assigned to nobody

[2016-04-01 06:30] #71 closed, assigned to nobody

[2016-04-06 08:47] Thor77 commented on #49
Are there any specific plans on how to implement this feature?
Should folders show up in task-listings?
Schould searching a list include folders (maybe an `--recursive`-option)?
Should there be a new `folders`-command to list their tasks, remove them and create new ones?

[2016-04-12 17:48] mruessler commented on #53
After updating to 4.2.0 my problems vanished. Now everything works as expected.

[2016-04-25 18:29] dkvdm opened #77 "Create a starred to-do item?"
Is this possible?

[2016-04-25 20:43] dkvdm commented on #77
Never mind, it's possible but not implemented.
Submitted a PR: https://github.com/we-are-next/wunderline/pull/78

[2016-04-25 21:25] #77 closed, assigned to nobody

[2016-05-09 23:21] jonnymaceachern opened #79 "Mark item as complete?"
Is there currently any way to mark an item as complete? If not, do you plan to add this?

[2016-05-12 13:12] rnc opened #80 "Case sensitivity"
If I have a list with e.g. `Current` and `current` listing on `Current` should not return `current`

[2016-05-12 13:12] rnc opened #81 "Ordering"
It appears the order items are returned does not match the order of the clients (e.g. Firefox, Android, Chrome)

[2016-05-30 17:41] JayBrown opened #83 "[Bug?] Due date not set; instead added to reminder title"
Trying to get wunderline to work again. I noticed that even though there's the `--due` option to set a due date, this doesn't work here. Instead the date is put into the task title.

http://i.imgur.com/IGi3N7v.png

Does the date have to be in a specific format? I'm using it from within an AppleScript, but the command behind it is simply `date -v +7d`… in AppleScript:
`set theDeadline to (do shell

[2016-05-30 18:01] JayBrown commented on #83
It seems you can't even set the time with Wunderlist, so I'm closing this. If you know of a way to add an actual time to the due date, let us know.

[2016-05-30 18:01] #83 closed, assigned to nobody

[2016-05-31 05:41] retrography commented on #79
This would be very useful indeed. And there are simple ways to implement it.

[2016-05-31 08:22] wayneashleyberry commented on #79
Hey @jonnymaceachern, there isn't a way to mark tasks as complete right now and I don't have any short term plans to implement it myself. If @retrography or anyone else would like to suggest how we could do it or even send a pull request then that would be great!

[2016-06-01 11:29] retrography commented on #79
I don't know much JavaScript, so I risk messing up the code if I edit it myself. But task completion [seems pretty straightforward in the API](https://developer.wunderlist.com/documentation/endpoints/task). Updating a task requires a PATCH request: `PATCH a.wunderlist.com/api/v1/tasks/:id`. One just needs to update a task with the "completed" flag turned on.

In terms of interface implementation,

[2016-06-28 18:35] wayneashleyberry commented on #79
Added in [v4.4.0](https://github.com/wayneashleyberry/wunderline/releases/tag/v4.4.0)

[2016-06-28 18:35] #79 closed, assigned to nobody

[2016-06-30 16:32] jmcclell opened #85 "Version constraint for inquirer needs to be frozen"
Per [this commit](https://github.com/SBoudrias/Inquirer.js/commit/cbf9f95886d39083b7540294f4523f27002a08c9), inquirer no longer supports the callback interface. The wunderline-auth.js code makes use of this library and uses the callback interface.

Version constraint needs to be <1.1.0 to ensure this breaking change isn't brought into a fresh install.

[2016-06-30 22:15] #85 closed, assigned to nobody

[2016-07-01 22:41] michaelhauser opened #87 "auth doesn't seem to work on OS X 10.9.4"
I run 'wunderline auth' and enter my client id and access token (as generated on the Wunderlist app page), and then I try to run a command like 'wunderline inbox' and I get "Wunderline needs application credentials before continuing..."
This is with node 6.2.2 on OS X 10.9.4.

[2016-07-02 12:53] karlicoss opened #88 "Visual feedback on task adding"
Right now, if you don't specify any task title or, use tasks options incorrectly, e.g.

[code]

, nothing is printed out in the terminal, and there is no visible indication of error (except for non-zero error code sometimes). IMO it would be nice to explicitly alert the user about that and maybe show command's documentation, so for instance `wunderline add` could result in `wunderline help add`.

[2016-07-05 07:50] jmcclell commented on #87
Upgrade to version >=/4.4.1. I had the same issue and discovered it was an issue with a breaking change in a dependent library. I submitted PR #86  to fix the version constraints to avoid the breaking change and it was accepted and merged.

[2016-07-05 07:54] jmcclell opened #89 "The "today" list should include Overdue items"
To keep parity with the UI in the native application, "Today" should include items that are overdue as opposed to only items explicitly due today.

[2016-07-05 08:32] #89 closed, assigned to nobody

[2016-07-05 20:31] michaelhauser commented on #87
Version 4.4.1 is already installed, as is inquirer 1.0.3.

Michaels-iMac:node_modules hauser$ npm list inquirer
hauser@1.0.0 /Users/hauser
└─┬ wunderline@4.4.1
  ├── inquirer@1.0.3
  └─┬ vorpal@1.11.2
    └── inquirer@0.11.0

[2016-07-07 18:19] jmcclell opened #92 "RFC: Enhanced Task Interface"
The API supports Tasks, Subtasks, Users, Notes, etc.

We should try to expand the CLI to support these operations.

The first thing I would propose is to change the command structure slightly so that we have sub-command groups:

`wunderline add`
`wunderline done`

Would become

`wunderline task add`
`wunderline task done`

This opens us up to be able to do things like:

`wunderline list add`
`wund

[2016-07-14 01:25] karlicoss commented on #88
Hey @wayneashleyberry do you have any thoughts on that? :)

[2016-07-30 03:17] deepak365 opened #93 "Getting error while authenticating wunderline."
Steps to reproduce :
1. `wunderline auth`
2.  Add Client ID
3.  Add Access token

Error :

[code]

Node version : node -v  v4.4.5

[2016-08-18 14:33] Thor77 commented on #72
Reminders are now implemented as a [seperate endpoint](https://developer.wunderlist.com/documentation/endpoints/reminder). Please reopen @wayneashleyberry

[2016-09-02 02:31] crispgm opened #95 "Display bug: list name that starts with emoji"
![image](https://cloud.githubusercontent.com/assets/1425636/18190873/451148ec-70f8-11e6-9539-aea739f49a5c.png)

Note the last item ":book:Reading", on macOS.

[2016-09-02 08:34] wayneashleyberry commented on #95
hey @crispgm, that's strange... did you put a space between the emoji and title?

[2016-09-02 08:57] crispgm commented on #95
@wayneashleyberry Nope, there is no spaces between.

[2016-09-13 20:28] felipemeamaral opened #96 "[Question] How to comment on a task?"
Just installed **wunderline** and was trying to comment on a task but didn't find a way to do it.
There's something am I missing?
Read entire documentation/README and didn't found what I was looking for.
Is this a limitation from Wunderlist API?
Hope someone can help me.
And thanks for this great piece of heaven.
Cheers from Brazil!

[2016-09-23 14:01] Thor77 commented on #96
It's not implemented in wunderline, yet.
The API has an [endpoint](https://developer.wunderlist.com/documentation/endpoints/task_comment) for it, though.

[2016-09-23 14:04] Thor77 commented on #95
It's probably a problem with your font/terminal setup and not with wunderline.
Can you confirm it just happens with wunderline? (For example, if `echo 📖Reading` shows up right)

[2016-09-23 14:05] Thor77 commented on #93
Are you running the latest version of wunderline? (There were some updates in error-handling recently)

[2016-09-23 15:50] crispgm commented on #95
![image](https://cloud.githubusercontent.com/assets/1425636/18792268/6088f07e-81e8-11e6-813c-d34bfbc0572a.png)

@Thor77 it this confirmed?

[2016-09-23 15:50] Thor77 commented on #95
That confirms the issue is with your font/terminal setup and not with wunderline :)

[2016-09-23 16:12] crispgm commented on #95
@Thor77 Thank you. Not a bug, closed.

[2016-09-23 16:12] #95 closed, assigned to nobody

[2016-09-23 19:41] Thor77 commented on #80
Why do you think so?
I think most people expect a search to be case-insensitive and I'm for keeping it like that.
@wayneashleyberry what to you think?

[2016-09-23 19:43] wayneashleyberry commented on #80
I far prefer case insensitivity, @rnc is there a specific reason you need an exact match?

[2016-09-24 18:15] elmerehbi opened #98 "Problem on Ubunu 16.04"
I tried installing but it doesn't seem to work:

[code]

Last command returns:

A friend tried and he said it works but with sudo. It returns the same error for me.

npm list returns the following:

[code]

[2016-09-25 07:44] wayneashleyberry commented on #98
Hi @elmerehbi, having not used Ubuntu for a while I haven't encountered this error before. Out of interest which version of node/npm are you using and have you successfully installed other node binaries through npm?

You definitely shouldn't need to use sudo, maybe someone with more Ubuntu experience could shed some light on that.

To see if wunderline installed globally you can use the following

[2016-09-25 19:01] elmerehbi commented on #98
@wayneashleyberry

nodejs: v4.2.6
npm: 3.5.2

I am aware of this (about sudo). I don't use anything other than Ubuntu.
I asked the friend to try it on his system and I was passing it that it worked for him with sudo (i understand that's not what should be used for the regular user) but not without it.

I don't use nodejs/npm. I remember I had problems with it before trying to install a package.

[

[2016-09-25 20:44] js94x commented on #98
@elmerehbi
I solved it with this workaround:
ln -s /usr/bin/nodejs /usr/bin/node

It happens because wunderline´s binary use `#!/usr/bin/env node`.
/usr/bin/env search through the environment variable $PATH and doesn´t find a binary called node.

[2016-09-26 05:40] elmerehbi commented on #98
Perfect. That works. Thank you

[2016-09-26 05:40] #98 closed, assigned to nobody

[2016-09-26 08:45] rnc commented on #80
@wayneashleyberry  I understand people have differing opinions on this. I am simply used to case sensitivity. If I recall (its a while since I've tried it)  I think part of the problem was I had added a list entitled "Current" via the app/web api but there was some inconsistencies when attempting to list/modify it via the CLI. I wonder if a configuration option would help here?

[2016-09-26 12:25] Thor77 commented on #81
The `/tasks`-endpoint does currently not support sorting. [ref](https://developer.wunderlist.com/documentation/endpoints/task)

[2016-09-26 12:30] Thor77 opened #99 "Use official wunderlist node-module"
It seems like wunderlist provides an official supported [node-module](https://www.npmjs.com/package/wunderlist) (since 03/2015) for easy api-access.
We should check if it provides all the features we need and maybe rewrite parts of Wunderline on top of it.

[2016-09-26 12:39] Thor77 commented on #80
Can you elaborate on your specific problem?
I don't really see the problem, because when adding a task on a specific list via wunderline, the list-name is [converted to lowercase](https://github.com/wayneashleyberry/wunderline/blob/master/wunderline-add.js#L61) and listing of tasks on a specific list is currently not supported.

[2016-09-26 13:10] rnc commented on #80
@Thor77  @wayneashleyberry  As having multiple lists differing only in case is such a edge-case I would suggest just closing this?

[2016-09-26 13:29] wayneashleyberry commented on #99
Yeah, I seem to remember not using it for some reason... but it's definitely worth re-evaluating.

[2016-09-26 13:31] wayneashleyberry commented on #81
Ah, this is actually available but under a separate api call.

https://developer.wunderlist.com/documentation/endpoints/positions

Might not be worth the extra http call?

[2016-09-26 13:34] wayneashleyberry commented on #80
I actually wouldn't mind implementing this in a similar manner as `smartcase` in vim.

So by default search's are case insensitive, unless the search term contains an uppercase character. How's that sound @rnc?

[2016-09-26 14:06] Thor77 commented on #81
Ouh, didn't see that, sry.
Imho the extra call is worth it, especially for large lists.

[2016-09-27 19:16] rnc commented on #80
@wayneashleyberry  +1

[2016-09-28 18:18] Thor77 commented on #88
I have a patch ready for the first part of your issue.
We should discuss the second part more precise before creating any patches for visual feedback, though.
For example how we want it to look like and for which commands, etc.

[2016-09-28 18:31] Thor77 commented on #88
Reopen for general visual feedback, not just on errors.

[2016-09-29 18:27] Thor77 commented on #87
Can you still reproduce this?

[2016-09-29 18:30] Thor77 commented on #73
Currently not possible due to some problems with [`JSON.stringify`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify) (escapes `\n` (correctly) to `\\n`), I opened an issue [wunderlist/api#85](https://github.com/wunderlist/api/issues/85) to make wunderlist-devs aware of that.

[2016-10-16 15:30] amrmjd opened #101 "Attachment support"
would like to be able to attach files to tasks

[2016-10-16 16:48] Thor77 commented on #101
There's an [endpoint](https://developer.wunderlist.com/documentation/endpoints/file) for that.

[2016-10-16 16:58] Thor77 commented on #93
Closing this due to missing feedback.
Feel free to reopen if you can reproduce this on a recent version @deepak365.

[2016-10-16 16:58] #93 closed, assigned to nobody

[2016-10-16 16:59] Thor77 commented on #87
If I don't receive feedback on this from @michaelhauser in 3 days (20 days passed), I will close this.

[2016-10-16 19:40] thekuom opened #102 "Way to edit items in lists"
Is there a way to edit items already in the list? Like adding a due date to it after it has been created or editing the due date?

[2016-10-16 20:09] Thor77 commented on #102
It's not implemented, yet. But there's an [endpoint](https://developer.wunderlist.com/documentation/endpoints/task) for it.

[2016-10-16 22:10] rnc commented on #80
@Thor77  I wonder if similar should apply to the search facility. From what I can see currently it is also case insensitive but is also using a fuzzy matching algorithm which means searching for e.g. RCM will return
"Update RCM"
and
"Handle releasing in config and new document"

The latter is a bit unintuitive. Either an explicit regexp of ability to quote would be useful. (Perhaps this is better

[2016-10-17 09:29] Thor77 commented on #80
Yeah, please open an seperate issue for the search-command. We should extract this functionality into an own function then to provide a consistent experience throughout the application.

[2016-10-17 10:36] #80 closed, assigned to nobody

[2016-10-17 10:47] rnc opened #103 "Search Facility Matching"
This issue was spawned from the discussion on #80.

Currently the search facility is also case insensitive but is also using a fuzzy matching algorithm which means searching for e.g. RCM will return
`Update RCM`
and
`Handle releasing in config and new document`

The latter is a bit unintuitive. Would either an explicit regexp or ability to quote would be useful? Or restrict the 'fuz' distance? (if

[2016-11-26 11:10] Thor77 commented on #87
Eh, yeah. 3 days passed. Feel free to reopen if you can still reproduce this.

[2016-11-26 11:10] #87 closed, assigned to nobody

[2017-01-10 13:32] wayneashleyberry commented on #88
I tend to follow the Unix philosophy here, if everything worked as expected then the application should have nothing to say. Are exit codes not enough to signify success or failure?

[2017-01-10 13:34] wayneashleyberry commented on #103
@rnc I'm all for adding a `--literal` or `--regex` flag for search, would either of those work for you?

[2017-01-10 13:35] wayneashleyberry commented on #96
I'll get on it :)

[2017-02-21 23:03] TheIronBorn opened #106 "Error when adding a task while offline"
I'm unclear if Wunderline even has this feature, but in that case I suppose this is a UX issue.

[code]

and with `NODE_DEBUG`:
[code]

- macOS `10.12.2`
- Wunderline --version `4.4.4`

[2017-02-22 09:33] wayneashleyberry commented on #106
@TheIronBorn although offline support would be a great feature to have, for now this is definitely a UX feature. Thanks for pointing it out.

[2017-06-13 15:09] loreucci opened #110 "Not all subtasks are added to the task"
First of all, thank you for creating wunderline, I just installed it and it already improved my wunderlist experience!

However, I encountered some issues when I tried to add tasks with many subtask. Aside from the fact that the subtasks appeared in a completely different order from the one in the command, I noticed that sometimes not all subtasks were added.
Then I tried to redo the same command

[2017-06-13 20:12] Thor77 commented on #110
Can reproduce, thanks for your report!
Will start working on a fix.

[2017-06-14 04:53] #110 closed, assigned to Thor77

[2017-06-14 04:56] wayneashleyberry commented on #110
Hey @loreucci - you're welcome and thank you :)

@Thor77 has worked on a fix and I've just published [v4.6.1](https://github.com/wayneashleyberry/wunderline/releases/tag/v4.6.1). Would you mind giving it a go?

[2017-06-14 05:09] loreucci commented on #110
Just tried it and now everything is working as expected.

Thank you and keep up the good work!

[2017-09-13 14:23] judicandus opened #112 "Subtasks mix main and sub tasks titles"
On my Windows 10 machine, when I execute:
`wunderline add 'Run a marathon' --subtask 'Train for the marathon' --subtask 'Register for the marathon'`

It creates a task in wunderlist named: **'Run a marathon' for the marathon' for the marathon'**

And two subtasks named; **'Train** and **'Register**

It seems to be a simple problem with the quotes. I stick to creating subtasks with single words so

[2017-09-13 14:45] Thor77 commented on #112
Hey Dan,

unfortunately I can't reproduce your issue on my system (ArchLinux).
Are you using Windows builtin cmd.exe or smth else? It's probably an issue with your terminal and correct quoting. What happens if you use double instead of single quotes?

[2017-09-13 14:52] judicandus commented on #112
Thank you so much for instant reply!

I'm using Windows builtin cmd.exe . I tried it with the double quotes and it worked just fine.
There probably is some function when using several single quotes in a batch script that I am unaware of.

Sorry for not testing such simple change beforehand.

Thank you,

[2017-09-13 14:52] #112 closed, assigned to nobody

[2018-02-03 13:26] mvaneijgen opened #114 "Is it possible to add sub tasks via a .txt file? If so what does the formatted text look like?"

[2018-02-03 14:31] Thor77 commented on #114
No, that's currently not possible. Only the task-title can be read from stdin (and therefore also a textfile).

[2018-02-03 14:43] #114 closed, assigned to nobody

[2018-02-03 15:12] Thor77 commented on #114
If you think, this would be a nice feature and/or do have a concrete plan on how this could be implemented, feel free to reopen.

[2018-02-20 18:36] alexandrebarbaruiva opened #116 "Add contributing file"
Please add a contributing file for better PR's 😬

[2018-02-22 11:35] alexandrebarbaruiva commented on #106
For wunderline to work, it needs access to the API, and as far as I know, you can access the API only online, so a offline mode is only possible if wunderline is using a Mac app. Or I'm totally wrong?

[2018-02-22 11:39] alexandrebarbaruiva commented on #88
How's progress on this task? I'd like to work on it if there's anything to work on

[2018-02-22 11:44] alexandrebarbaruiva commented on #73
It's possible to add multilined notes by not closing the quote at the end of the line:

[code]

However I don't think that's a proper solution.

[2018-02-22 12:19] Thor77 commented on #73
The issue mentioned above applies here as well, though.

[2018-02-22 21:14] #73 closed, assigned to nobody

[2018-03-01 12:56] #72 closed, assigned to nobody

[2018-03-01 14:53] alexandrebarbaruiva commented on #49
@wayneashleyberry assign me this task! I'll try to finish it sunday

[2018-03-01 15:08] wayneashleyberry commented on #49
I can't assign you until you're a collaborator @alexandrebarbaruiva, you're welcome to send a pull request at any time though :)

[2018-03-01 19:30] alexandrebarbaruiva commented on #49
Ok, will do 😁

[2018-03-01 19:33] alexandrebarbaruiva opened #118 "Add --list to done to show only tasks from specific list"

[2018-03-02 06:58] wayneashleyberry commented on #118
You can already do this with the `list` command.

<img width="808" alt="screen shot 2018-03-02 at 08 57 44" src="https://user-images.githubusercontent.com/727262/36887010-c80efa66-1df7-11e8-9b64-ba5289114b8b.png">

[2018-03-02 06:58] #118 closed, assigned to nobody

[2018-05-17 09:49] 0xDC0DE commented on #81
I would like this feature.

[2018-05-17 15:01] bhman792 opened #120 "Invalid DateTime for Reminder"
I've tried every format I can think of and nothing is working.  What is the right format for datetime?

[2018-05-17 15:01] bhman792 opened #121 "Assigning Tasks to Other Users"
Is it possible using Wunderline to use the feature in Wunderlist where you can assign a task to another user?

[2018-05-17 16:24] Thor77 commented on #120
The correct format is `YYYY-MM-DD HH:mm`. If there's no valid reminder datetime given, it will fallback to the due date (if given).

I guess we should clarify that in the error message.

[2018-05-17 16:31] Thor77 commented on #121
It's currently not implemented in wunderline.

It's possible to set it via the `asignee_id`-attribute when creating/updating tasks, though [ref](https://developer.wunderlist.com/documentation/endpoints/task).

[2018-05-17 16:34] bhman792 commented on #121
Is there any chance it could be added? :)

[2018-05-17 16:39] Thor77 commented on #120
If there's anything else to clarify, feel free to reopen :)

[2018-05-17 16:39] #120 closed, assigned to nobody

[2018-05-17 16:40] Thor77 commented on #121
I'll take a look at it in the next few days.

[2018-05-21 21:09] bhman792 commented on #121
Any Luck?

[2018-05-22 11:15] Thor77 commented on #121
Nope, didn't get to it. I'm trying to get it working right now, though.

Would you prefer to mention an assignee by it's id or by it's name/email?
If opting for the first option, we should probably add a new command to list available users.

[2018-05-22 11:44] Thor77 commented on #121
If you have any further suggestions, please comment in #122

[2019-04-04 06:31] NargiT opened #123 "Use wunderline behind a proxy using a selfsign certificate"
Hello,

I use wunderline behind a proxy.

After doing wunderline auth, I alway get
[code]

then if I try any commands I still get
[code]

Tonight I try at home without proxy.

[2019-04-14 15:55] NargiT commented on #123
Ok so I found the problem... it was because of a selfsign certificate and concerns nodejs.

if you put your custom certificate in the correct place on linux, you can do the following and it will work.
`NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt`

[2019-04-14 15:55] #123 closed, assigned to nobody

[2019-04-22 22:46] rootid opened #124 "UNABLE_TO_GET_ISSUER_CERT_LOCALLY"
Installed wunderline
 - npm install wunderline

Run auth w/ new app (entered client id and access token)
1. NODE_DEBUG=request wunderline auth

[code]

[2019-04-23 07:09] Thor77 commented on #124
Do you have a (ssl intercepting) proxy set? The CA certificate of that proxy is probably missing your system trust store.

[2019-04-23 10:37] rootid commented on #124
Is there way I can set the proxy eg. any commands?

[2019-04-23 10:38] rootid commented on #124
Is there way I can set the proxy eg. any commands?

[2019-04-23 11:33] Thor77 commented on #124
You probably don't want to set a proxy but find out if there's one active on your current system/network to find out why wunderlist is reporting this error.

[2019-04-23 21:44] rootid commented on #124
Thanks @Thor77

[2019-08-09 05:44] MihirSomani commented on #106
@alexandrebarbaruiva We can add the task operations while offline in local storage, and whenever we have access to the internet again, push all the operations via the API.

[2019-08-09 05:48] MihirSomani commented on #81
Mark this as feature?

[2020-02-04 11:16] #121 closed, assigned to Thor77

[2020-03-05 14:47] chattr opened #125 "Wunderlist EOL"
Are there any plans to port the code to work with Microsoft To Do since it was announced Wunderlist is being abandoned? I've used Wunderline for years with Wunderlist, so it's such a shame to have to abandon Wunderline in light of the news.

[2020-03-05 15:20] wayneashleyberry commented on #125
@chattr I'll have to see what's happening with the Wunderlist API — I saw the EOL announcement but have no idea if the API is still going to work, or how different it'll be under Microsoft's ownership... assuming there will be an API at all.

[2020-03-05 17:04] chattr commented on #125
Thanks for the quick update, @wayneashleyberry. Quickly looking into this, it appears Outlook Task REST API is the endpoint for To Do.

https://support.office.com/en-gb/article/using-microsoft-to-do-s-api-f944256d-3b08-4945-ba69-2c17afeb60b4

I'd imagine it's not going to be a lift-and-shift affair!

[2021-12-10 15:58] #49 closed, assigned to nobody